





	 <!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link href='https://fonts.googleapis.com/css?family=Wire One' rel='stylesheet'>
  <style>
    /* Remove the navbar's default margin-bottom and rounded borders */ 
    .navbar {
      margin-bottom: 0;
      border: 0;
      background-color: #F27272;
    }
    
    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
    .row.content {height: 680px; background-color : #F27272;};
    
    /* Set gray background color and 100% height */
    
    /* Set black background color, white text and some padding */
    
    
    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      
      .row.content {height:1500px;} 
    }


    .button {
    background-color: white;
    border: none;
    color: #EB5757;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 30px;
    width : 220px;
}

  .btw { 
    font-family: Wire One;

   }

   img {
  border-radius: 50%;
}
@media screen and (min-width: 330px) {  .mls {margin-left:10px;}   }
@media screen and (max-width: 330px) {  .mls {margin-left:10px;}   }

 table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border-bottom: 1px solid #ddd;
}
 
p.one {
    border-style: solid;
    border-width: medium;
    border-color: white;
}

p.two {
    border-style: solid;
    border-width: medium;
    border-color: #F27272;
    background-color: white;
    color: #F27272;
    text-align: center;
}
  </style>

</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <h1 style="color:white;font-family:'Wire One';font-size:50px;text-align: center;">Better World
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      </h1>
      <br>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
     
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#" style="color:white"><span class="glyphicon glyphicon-log-in"></span> Se connecter</a></li>
      </ul>
    </div>
  </div>
</nav>
  
<div class="container-fluid ">    
  <div class="row content">
   
    <div class="col-sm-10 "> 
      
     <div style="background-color:white; color:#F27272">
      <br>
      <h3 class="text-center"> Faire un don </h3>
      <hr style="color:black">
      Montant :
     <center><input class="center" style="background-color:#F27272;color:white;font-size:20px;width:200px" placeholder="1€">  </input></center>
     <br>
     Moyen de paiement
     <center><input class="center" style="background-color:#F27272;color:white;font-size:20px;width:200px" placeholder="XXXX XXXX XXXX XXXX">  </input></center>
      <center><button class="center" style="background-color:#F27272;color:white;font-size:20px;width:200px">LYDIA  </button></center>
      <center><button class="center" style="background-color:#F27272;color:white;font-size:20px;width:200px">Itunes / Android  </button></center>

    <br></br>
    <center><img src="/clients/img/img_avatar.png" style="width:123px;height:116px"></center>
    <center><h2 style="color:black"> PAUL </h2></center>
    </div>


          
       
        
       
    </div>
   
  </div>
</div>

<footer class="container-fluid text-center;" style="background-color: #F27272;">

</footer>

</body>
</html>
