





	 <!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link href='https://fonts.googleapis.com/css?family=Wire One' rel='stylesheet'>
  <style>
    /* Remove the navbar's default margin-bottom and rounded borders */ 
    .navbar {
      margin-bottom: 0;
      border: 0;
      background-color: #F27272;
    }
    
    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
    .row.content {height: 680px; background-color : #F27272;};
    
    /* Set gray background color and 100% height */
    
    /* Set black background color, white text and some padding */
    
    
    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      
      .row.content {height:1500px;} 
    }


    .button {
    background-color: white;
    border: none;
    color: #EB5757;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 30px;
    width : 220px;
}

  .btw { 
    font-family: Wire One;

   }

   img {
  border-radius: 50%;
}
@media screen and (min-width: 330px) {  .mls {margin-left:10px;}   }
@media screen and (max-width: 330px) {  .mls {margin-left:10px;}   }

 table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border-bottom: 1px solid #ddd;
}
 
p.one {
    border-style: solid;
    border-width: medium;
    border-color: white;
}

p.two {
    border-style: solid;
    border-width: medium;
    border-color: #F27272;
    background-color: white;
    color: #F27272;
    text-align: center;
}

/* button dropdown */

  .dropbtn {
    background-color: #F27272;
    color: white;
    padding: 5px 9px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 0px;
    width : 200px;
}

/*
.dropbtn:hover, .dropbtn:focus {
  background-color: white;
}
*/
.dropdown {
    
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #F27272;
    color: white;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {background-color: #ddd}

.show {display:block;}

/* css down arrow*/
i {
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 5px;
  margin-left: 55px;
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

  </style>

</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <h1 style="color:white;font-family:'Wire One';font-size:50px;text-align: center;">Better World
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      </h1>
      <br>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
     
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#" style="color:white"><span class="glyphicon glyphicon-log-in"></span> Se connecter</a><p style="color:white;margin-left:35px"> <a href="/" style="color:inherit;text-decoration: none;">Retour</a></p></li>
      </ul>
    </div>
  </div>
</nav>
  
<div class="container-fluid ">    
  <div class="row content">
   
    <div class="col-sm-10 "> 
      
     <div style="background-color:white; color:#F27272">
      <br>
      <h3 class="text-center"> Faire un don </h3>
      <hr style="color:black">
      <center>Montant : </center>
     <center><input class="center" style="background-color:#F27272;color:white;font-size:20px;width:200px" placeholder="1€">  </input></center>
     <br>
     <center>Moyen de Paiement </center>
      <center> <button onclick="myFunction()" class="dropbtn"> Lydia     <i class="down"></i></button></center>
          <div id="myDropdown" class="dropdown-content">
            <a href="#home" id="mcd">Lydia</a>
            <a href="#about" id="vsa">Itunes / Android</a>
            <a href="#about" id="cte">Carte XXXX XXXX XXXX XXXX</a>
            <a href="#about" id="fb">Facebook</a>
          </div> 


     
    

    <br></br>
    <center><img src="/clients/img/img_avatar.png" style="width:123px;height:116px"></center>
    <center><h2 style="color:black"> Antoine25 </h2></center>
    </div>


          
       
        
       
    </div>
   
  </div>
</div>

<footer class="container-fluid text-center;" style="background-color: #F27272;">

</footer>
<script>
/* When the user clicks on the button, 
toggle between hiding and showing the dropdown content */
function myFunction() {
    document.getElementById("myDropdown").classList.toggle("show");
}

// Close the dropdown if the user clicks outside of it
window.onclick = function(event) {
  if (!event.target.matches('.dropbtn')) {

    var dropdowns = document.getElementsByClassName("dropdown-content");
    var i;
    for (i = 0; i < dropdowns.length; i++) {
      var openDropdown = dropdowns[i];
      if (openDropdown.classList.contains('show')) {
        openDropdown.classList.remove('show');
      }
    }
  }
}
</script>

<script>
$(document).ready(function(){
$('#mcd').click(function(){ 
  $('.dropbtn').html('Lydia');
  })

$('#vsa').click(function(){ 
  $('.dropbtn').html('Itunes/Android');
  })

$('#cte').click(function(){ 
  $('.dropbtn').html('Carte XXXX XXXX XXXX XXXX');
  })

$('#fb').click(function(){ 
  $('.dropbtn').html('Facebook');
  })

})
</script>
</body>
</html>
